.calculator {
    width: 300px;
    margin: 50px auto;
    border: 2px solid #070101;
    padding: 40px 40px;
    border-radius: 5px;
    background-color: #f4f4f4;
}

#result {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: right;
    border: 2px solid #936f6f;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.buttons button {
    padding: 15px;
    font-size: 1.2em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #d5d5d5;
}